pkgbase = nginx-mod-rtmp
	pkgdesc = NGINX-based Media Streaming Server
	pkgver = 1.2.2
	pkgrel = 1
	url = https://github.com/arut/nginx-rtmp-module
	arch = x86_64
	license = BSD-2-Clause
	makedepends = nginx-src
	depends = glibc
	optdepends = nginx
	backup = etc/nginx/modules.d/20-rtmp.conf
	source = https://github.com/arut/nginx-rtmp-module/archive/v1.2.2/rtmp-1.2.2.tar.gz
	sha256sums = 07f19b7bffec5e357bb8820c63e5281debd45f5a2e6d46b1636d9202c3e09d78

pkgname = nginx-mod-rtmp
